<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Biblioteca N10</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <!--   <li class="nav-item">
                <a class="nav-link active" href="#"
                  >Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li> -->
        <!--   <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
              </li> -->
        <!--      <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Carga Libros</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/libros">Libros</a>
            <a class="dropdown-item" href="/autores">Autores</a>
            <a class="dropdown-item" href="/categorias">Categorias</a>
            <a class="dropdown-item" href="/editoriales">Editorial</a>
            <a class="dropdown-item" href="/isbn">ISBN</a>
            <a class="dropdown-item" href="/tiempo">TiempoPrestamo</a>
            <!--      <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Usuarios</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/usuarios">ABM Usuarios</a>
            <a class="dropdown-item" href="/carreras">ABM Carreras</a>
            <a class="dropdown-item" href="/tipousuarios">Clasificacion usuario</a>
                  <!--<div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Prestamos</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/libros">Nuevo</a>
            <a class="dropdown-item" href="/autores">Devolucion</a>
            <a class="dropdown-item" href="/categorias">Listado prestamos</a>
           
            <!--      <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
